/* Styles for Recipe tab (placeholder) */
.profiles-container {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 16px;
  padding: 8px 8px;
}

.profiles-list,
.profile-details {
  height: calc(100vh - 78px);
  overflow: auto;
  padding: 12px;
}
