.shot-selection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: calc(100vh);
}

.shot-list {
  height: calc(100vh - 170px);
  overflow-y: auto;
  width: 500px;
}

.graph-list {
  height: calc(100vh - 120px);
  overflow-y: auto;  
}


.shots-content {
  padding: 8px;
}

.legends {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
