name: Testflight

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true  

jobs:
  buildall:
    runs-on: macos-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
          bundler-cache: true
      
      - name: InstallFlutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable' # or: 'beta', 'dev' or 'master'
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:' # optional, change this to force refresh cache
          cache-path: '${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:' # optional, change this to specify the cache path
          architecture: x64 # optional, x64 or arm64

      - name: Version
        run: flutter --version

      - name: replace sentry key
        env: 
          SENTRY_KEY: ${{ secrets.SENTRY_KEY }} 
        run: |
          export ESCAPED_KEYWORD=$(printf '%s\n' "$SENTRY_KEY" | sed -e 's/[]\/$*.^[]/\\&/g');
          sed -i -e "s/<SENTRY_KEY>/$ESCAPED_KEYWORD/g" ./lib/main.dart
          
      - name: Update pods
        run: pod repo update
      - name: Bundle install
        run: cd ./ios && bundle install
      - uses: maierj/fastlane-action@v3.0.0        
        env:            
            MATCH_KEYCHAIN_PASSWORD: ${{ secrets.MATCH_KEYCHAIN_PASSWORD }}
            MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
            MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
            FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD: ${{ secrets.FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD }}
            API_KEY: ${{ secrets.API_KEY }}
            API_KEY_ID: ${{ secrets.API_KEY_ID }}
            ISSUER_ID: ${{ secrets.ISSUER_ID }}
        with:
          lane: 'betamatch'
          subdirectory: 'ios'
